.App {
  width: 50%;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

button {
  width: 150px;
  height: 30px;
  border-radius: 20px;
  margin: 10px;
}

input,
select,
textarea {
  width: 200px;
}
